.ButtonContainer{
    margin-top: auto;
    margin-right: 2%;
    margin-bottom: auto;
    padding-bottom: 2%;
}

.BuyNowButton{
    position: relative;
    height: 50px;
    width: 120px;
    border-radius: 6px 6px 6px 6px;

}


.BuyNow{
    color: white;
    float: right;
    margin-right: 5%;
    margin-top: 11%;
    font-size: 17px;
    font-weight: bold;
}


.hex{
    float: left;
    height: 39px;
    width: 35px;
    margin-top: 12%;
    margin-left: 19%;
}

.Triangle{
    margin-left: 58%;
    margin-top: 41.5%;
    position: relative;
}

.HexWrapper{
    position: absolute;
}