.WatchTrailerContainer{
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-bottom: 2%;
    text-align: center;
}

.WatchTrailerButton{
    margin-bottom: 2.5%;
    position: relative;
    height: 48px;
    width: 130px;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid lightgray;
    background: none;

}

.WatchTrailer{
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: auto auto auto auto;
}

.WatchTrailerButton:hover{
    cursor: pointer;
}

