.CarouselBG{
    height: 65vh;
    background-color: white;
    display: flex;
    width: 100vw;
    flex-direction: row;
    /* overflow-x: hidden; */
}

.SlideAndArrowsContainer{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 65vh;
    width: 100vw;
}

