.CarouselBG{
    height: 65vh;
    background-color: white;
    display: flex;
    width: 100vw;
    position: relative;

}

.SlideAndArrowsContainer{
    height: 65vh;
    position: relative;
} 

.SlideContainer{
    position: relative;
    overflow-x: hidden;
}

